@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Source Sans Pro", sans-serif;
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  transform: none;
  display: flex;
}
